services:
  postgres:
    image: 'postgres:16-alpine'
    environment:
      - 'POSTGRES_DB=familyarchive'
      - 'POSTGRES_PASSWORD=familyarchive'
      - 'POSTGRES_USER=familyarchive'
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
